<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration：mybatis主配置文件信息-->
<configuration>
    <settings>
        <!--设置mybatis日志，输出到控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--环境配置：配置数据库 default必须和某个environment的id值一样 告诉mybatis使用哪个数据库的连接信息，也就是访问哪个数据库-->
    <environments default="dev">
        <!--environment：一个数据库信息的配置（环境） id：一个唯一值，自定义，表示环境的名称-->
        <!--用于开发的数据库环境实例-->
        <environment id="dev">
            <!--transactionManager mybatis的事务类型 type：JDBC(表示使用jdbc中的Connection对象的commit,rollback)-->
            <transactionManager type="JDBC"/>
            <!--dataSource type：表示数据源的类型，POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <!--driver url username password 是固定的，不能自定义的-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
        <!--用于生产的数据库环境实例-->
        <environment id="pro">
            <!--transactionManager mybatis的事务类型 type：JDBC(表示使用jdbc中的Connection对象的commit,rollback)-->
            <transactionManager type="JDBC"/>
            <!--dataSource type：表示数据源的类型，POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <!--driver url username password 是固定的，不能自定义的-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--（sql mapper）sql映射文件的位置-->
    <mappers>
        <package name="com.luojay.dao"/>
    </mappers>
</configuration>