<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration：mybatis主配置文件信息-->
<configuration>
    <settings>
        <!--按照mybatis官网改为LOG4J实现日志输出到控制台-->
        <setting name="logImpl" value="LOG4J" />
    </settings>
    <!--起别名-->
    <typeAliases>
        <!--
        第一种方式：
        可以指定一个类型一个自定义别名
        type：自定义类型的全限定名称
        alias：别名（短小，容易记忆的）
        -->
        <!--
            <typeAlias type="com.luojay.domain.student" alias="stu"/>
            <typeAlias type="com.luojay.vo.Viewstudent" alias="vstu"/>
        -->
        <!--
        第二种方式
        <package>name是包名，这个包中的所有类，类名就是别名（类名不区分大小写）
        <typeAlias type="com.luojay.domain.Student" alias="stu"/>
        -->
        <package name="com.luojay.domain"/>
    </typeAliases>
    <!--环境配置：配置数据库 default必须和某个environment的id值一样 告诉mybatis使用哪个数据库的连接信息，也就是访问哪个数据库-->
    <environments default="dev">
        <!--environment：一个数据库信息的配置（环境） id：一个唯一值，自定义，表示环境的名称-->
        <!--用于开发的数据库环境实例-->
        <environment id="dev">
            <!--transactionManager mybatis的事务类型 type：JDBC(表示使用jdbc中的Connection对象的commit,rollback)-->
            <transactionManager type="JDBC"/>
            <!--dataSource type：表示数据源的类型，POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <!--driver url username password 是固定的，不能自定义的-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
        <!--用于生产的数据库环境实例-->
        <environment id="pro">
            <!--transactionManager mybatis的事务类型 type：JDBC(表示使用jdbc中的Connection对象的commit,rollback)-->
            <transactionManager type="JDBC"/>
            <!--dataSource type：表示数据源的类型，POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <!--driver url username password 是固定的，不能自定义的-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--（sql mapper）sql映射文件的位置-->
    <mappers>
        <!--一个mapper标签指定一个文件的位置，从类路径开始的路径信息  类路径：target/classes-->
        <!--<mapper resource="com/luojay/dao/StudentDao.xml"/>-->
        <!--使用包名注册多个mapper-->
        <package name="com.luojay.dao"/>
    </mappers>
</configuration>